html, body {
    height: 100% !important;
    background-color: #EFEFEF
}

*:focus {
    outline: 0 !important;
}

#landing-header {
    height: 853px;
    background: url(../images/Hero_BG.svg);
    background-size: cover;
}

.footer {
    height: 553px;
    background: url(../images/Footer.svg);
    background-size: cover;
    padding: 175px 75px;
    position: relative;
    bottom: 0px;
    width: 100%;
}

.logo {
    width: 200px;
    margin: 50px 0;
}

.landingleft {
    margin: 150px 0;
}

.landing-button {
    height: 45px;
    width: 140px;
    border: none;
    border-radius: 5px;
    margin: 40px 20px 0 0;
}

#signup {
    background-color: #93A5FF;
    color: white;
}

#login {
    background-color: white;
    color: #93A5FF;
    font-weight: 600;
}

.navbar {
    background: url(../images/Nav-background.svg);
    background-size: cover;
    justify-content: flex-start;
}

.nav-logo {
    height: 50px;
    float: left;
}

/* Icon 1 */

.animated-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon:focus {
    outline: 0;
}

.animated-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon span {
    background: white;

}


.animated-icon span:nth-child(1) {
    top: 0px;
}

.animated-icon span:nth-child(2) {
    top: 10px;
}

.animated-icon span:nth-child(3) {
    top: 20px;
}

.animated-icon.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon.open span:nth-child(2) {
    display: none;
}

.animated-icon.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.nav-tabs .nav-link.active, .nav-tabs .show > .nav-link {
    background-color: #93A5FF;
}

.sidebar-sticky {
    background-color: #424D83;
    width: 20rem;
    margin-top: 65px;
    color: white;
}

.sidebar-sticky * {
    display: block;
    color: white;
}

.dropdown-menu1 {
    top: 60px;
    right: 10px;
    left: unset;
    width: 460px;
    box-shadow: 0px 5px 7px -1px #93A5FF;
    padding-bottom: 0px;
    padding: 0px 15px;
}

.dropdown-menu1:before {
    content: "";
    position: absolute;
    top: -20px;
    right: 12px;
    border: 10px solid #93A5FF;
    border-color: transparent transparent #93A5FF transparent;
}

#bell {
    font-size: 32px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.badge {
    padding: 3px 5px 3px;
    position: absolute;
    top: 30px;
    right: 15px;
    display: inline-block;
    min-width: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    border-radius: 10px;
    background-color: red;
}

.ddi {
    color: black;
}

.ddi:hover {
    cursor: pointer;
    background-color: #93A5FF;
    text-decoration: none;
}

.nav-tabs {
    display: inline-block;
    margin: 0px auto 20PX;
}

.nav-tabs li {
    float: left;
}

.nav-tabs a {
    text-align: center;
    text-decoration: none;
    background-color: #424D83;
    color: white;
    font-size: 28px;
    width: 248px;
    height: 98px;
    padding: 0px;
    display: inline-block;
    line-height: 92px;
}

.nav-tabs a.active {
    background-color: #93A5FF;
    border-bottom: 5px solid white;
}

.tools label, .tools span {
    color: #424D83;
    font-size: 36px;
    font-weight: 400;
}

#dropdownMenuButton {
    border: 1px solid #424D83;
    margin-top: 12px;
}

.toolssearch {
    height: 40px;
    width: 350px;
    margin-top: 10px;
    border: 1px solid #424D83;
    border-radius: 10px;
}

.toolsbutton {
    height: 34px;
    width: 80px;
    border-radius: 10px;
    background-color: #424D83;
    color: white;
    position: absolute;
    border: none;
    top: 13px;
    left: 280px;
}

.tableButton {
    height: 34px;
    width: 120px;
    border-radius: 10px;
    background-color: #424D83;
    color: white;
    border: none;
}

.reconsider {
    height: 34px;
    width: 120px;
    border-radius: 10px;
    background-color: #424D83;
    color: white;
    border: none;
}

.accept {
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: #24CD98;
    color: white;
    border: none;
    margin-right: 5px;
}

.deny {
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: #FF0045;
    color: white;
    border: none;
    margin-left: 5px;
}

.datefilter {
    padding-left: 55px;
}

.datefilter > input {
    position: relative;
    bottom: 5px;
    margin: 5px;
}

#AddDepartment .card, #AddQuestion .card {
    width: 50%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
}

.centerlabel {
    font-size: 56px;
    width: 80%;
    color: #424D83;
    margin: 5px auto;
    border-bottom: 2px solid #707070;
}

#AddDepartment div, #AddQuestion div {
    margin: 20px auto;
}

#AddDepartment button, #AddQuestion button {
    font-size: 36px;
    background-color: #424D83;
    color: white;
    padding: 10px 75px;
    border: none;
    border-radius: 10px;
    margin: 20px auto;
}

.modal div {
    margin: 10px auto;
    color: #424D83;
}

.modal h1 {
    margin: 5px auto;
    padding-bottom: 10px;
    color: #424D83;
    border-bottom: 2px solid #707070;
}

.modal .close, .fa-sliders-h {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 90;
}

.infoTable {
    margin: 15px 50px;
    border-spacing: 5px;
}

.infoTable tr {
    text-align: left;
    padding: 5px;
    border-bottom: 2px solid #707070;
}
